.pokemon-card {
  background-color: rgb(255, 165, 217);
  padding: 10px 1px 100px 50px;
  width: 200px;
  border-radius: 8px;
}

.button-fairy {
  background-color: rgb(242, 78, 195);
  border-radius: 6px;
  border-color: transparent;
  
}

.button-steel {
  background-color: rgb(144, 206, 206);
  border-radius: 6px;
  border-color: transparent;
}

.flex {display:flex;}